<div style="text-align:center">
  <canvas #myCanvas style="background: greenyellow; background-image: url('https://cdn.cnn.com/cnnnext/dam/assets/140420205944-02-stunning-nature---glowing-plankton---restricte.jpg'); background-repeat: no-repeat; background-size: 100%;">Your
    browser does not support the HTML5 canvas tag.</canvas>
</div>

<!-- <div class="score">Score: {{gun.score}}</div>
<progress class="life" value={{balloonMissed}} max="10"></progress>
<div class="level">Level: {{level}}</div> -->

<!-- Images -->
<img #yellowBirdImg width="100" height="100"
src="assets/img/angryBird/yellowBird.png" alt="snake" [hidden]='true'>