/* You can add global styles to this file, and also import other style files */


html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
    overflow: hidden;  /*  Disable scrollbars */
    display: block;  /* No floating content on sides */
  }

.score {
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    font-size: 30px;
}

.level {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    font-size: 30px;
}

.life {
    position: absolute;
    left: 500px;
    top: 0px;
    color: white;
    font-size: 80px;
}

progress[value]::-webkit-progress-value {
    /* style rules */
    background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, #09c, #f44);
  
      border-radius: 2px; 
      background-size: 35px 20px, 100% 100%, 100% 100%;
  }

  progress {
    background-color: #f3f3f3;
    border: 0;
    height: 12px;
    width: 400px;
    color: red;
    border-radius: 9px;
  }